@{
    ViewBag.Title = "Dashboard Link";
}


<div class="row">
    <div class="col-6 py-3">
        <label for="dashboardLink" class="form-label h6">Position</label>
        <select class="form-control" id="dashboardLink">
            <option value="">Dashboard Link Position</option>
            <option value="download">Download</option>
            <option value="notification">Notofication</option>
            <option value="footer1">Footer 1</option>
            <option value="footer2">Footer 2</option>
        </select>

    </div>
    <div class="col-2 py-3">
        <label for="templateName" class="form-label h6">Template Name</label>
        <input type="text" id="templateName" class="form-control" />
    </div>
    <div class="col-md-12">
        <div class="checkbox-inline pl-3">
            <div class="form-check ">
                <label class="checkbox-inline">
                    <input class="form-check-input" type="checkbox" id="active"> Active
                </label>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
    <button class="btn btn-md btn-primary float-right m-2"
            id="addBtn" type="button">
        <span class="material-icons">add</span>
    </button>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center text-center fs-2 text-dark">Link Name</th>
                <th class="text-center text-center fs-2 text-dark">Link Value</th>
                <th class="text-center"></th>
            </tr>
        </thead>
        <tbody id="tbody">
            <tr id="r0">
                <td class="row-index text-center name">
                    <input type='text' class='w-100 form-control linkname ' id='t10'>
                </td>
                <td class="row-index text-center value">
                    <input type='text' class='w-100 form-control linkvalue' id='t20'>
                </td>
                <td class="text-center" height="50">
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-md btn-primary float-right m-2"
            id="submitLinks" type="button">
        Submit
    </button>

    <button id="btnalert" type="button"
            class="btn btn-success d-none"
            data-toggle="toastr"
            data-toastr-type="success"
            data-toastr-title="Message"
            data-toastr-message="links are submitted succesfully.">
        alert
    </button>
</div>

@section Styles{
    <link href="~/assets/vendor/toastr.min.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/assets/vendor/toastr.min.js"></script>
    <script src="~/assets/js/toastr.js"></script>

    <script>
        $(document).ready(function () {

            // Denotes total number of rows
            var rowIdx = 1;

            // jQuery button click event to add a row
            $('#addBtn').on('click', function () {


                // Adding a row inside the tbody.
                $('#tbody').append(`<tr id="R${++rowIdx}">
                          <td class="row-index text-center">
                          <input type='text' class='w-100 form-control linkname tlinput' id='t1${rowIdx}' >
                          </td>
                          <td class="row-index text-center">
                          <input type='text' class='w-100 form-control linkvalue tvinput' id='t2${rowIdx}' >
                          </td>
                          <td class="text-center">
                          <button class="btn btn-danger remove "
                          type="button"> <span class="material-icons">delete</span></button>
                          </td>
                          </tr>`);

            });

            // jQuery button click event to remove a row.
            $('#tbody').on('click', '.remove', function () {

                // Getting all the rows next to the row
                // containing the clicked button
                var child = $(this).closest('tr').nextAll();

                // Iterating across all the rows
                // obtained to change the index
                child.each(function () {

                    // Getting <tr> id.
                    var id = $(this).attr('id');

                    // Getting the <p> inside the .row-index class.
                    var idx = $(this).children('.row-index');

                    // Gets the row number from <tr> id.
                    var dig = parseInt(id.substring(1));

                    // Modifying row index.
                    //idx.html(`Row ${dig - 1}`);

                    // Modifying row id.
                    $(this).attr('id', `R${dig - 1}`);
                });

                // Removing the current row.
                $(this).closest('tr').remove();

                // Decreasing total number of rows by 1.
                rowIdx--;
            });


            $("#submitLinks").click(function (e) {
                e.preventDefault();

                var valuesinputes = $("table").find("input[type='text'].linkvalue");
                var namesinputes = $("table").find("input[type='text'].linkname");


                var Lnames = '';
                var Lvalues = '';

                for (var i = 0; i < namesinputes.length; i++) {

                    if (i != namesinputes.length - 1)
                        Lnames += $(namesinputes[i]).val() + "#";
                    else
                        Lnames += $(namesinputes[i]).val();
                }

                for (var i = 0; i < valuesinputes.length; i++) {

                    if (i != valuesinputes.length - 1)
                        Lvalues += $(valuesinputes[i]).val() + "#";
                    else
                        Lvalues += $(valuesinputes[i]).val();
                }

                var templateName = $("#templateName").val();
                var linkPosition = $("#dashboardLink").val();
                var active = $("#active").prop("checked");

                var requestObject = {
                    "Position": linkPosition,
                    "TemplateName": templateName,
                    "Link": Lvalues,
                    "LinksName": Lnames,
                    "Active": active
                }


                var url = '@Url.Action("AddLinks", "Admin")';

                $.ajax({
                    type: 'POST',
                    url: url,
                    dataType: 'json',
                    cache: false,
                    data: {
                        "links": requestObject
                    },
                    success: function (response) {

                        if (response.success) {
                           // alert(response.message);
                            $("#btnalert").trigger("click");
                        }
                    },
                    //error: errorCallback
                });

            });

        });
    </script>
}

@section navigationbar{
    <div class="container-fluid page__heading-container">
        <div class="page__heading d-flex align-items-end">
            <div class="flex">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a asp-action="Dashboard" asp-controller="Admin">Home</a></li>
                        <li class="breadcrumb-item active"
                            aria-current="page">Link Master</li>
                    </ol>
                </nav>
                <h1 class="m-0 mt-2">Link Template</h1>
            </div>
        </div>
    </div>
    }