<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RCAT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    @await RenderSectionAsync("Styles", required: false)

    <link href="~/css/fontawesome-free-6.4.0-web/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Medical_Rgistrations.styles.css" asp-append-version="true" />
    <link href="~/assets/css/app.css" rel="stylesheet" />

</head>
<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example">
            <div class="container-fluid">
                <a class="navbar-brand" asp-action="Index" asp-controller="Home">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse show" id="navbarsExample07" style="">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Home" asp-action="AboutUs">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Home" asp-action="Course">Course</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Home" asp-action="Faculty">Faculty</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
                        </li>
                        @* <li class="nav-item">
                        <a class="nav-link text-white" asp-controller="Admin" asp-action="Dashboard">Admin Dashboard</a>
                        </li>*@

                    </ul>
                    <form>
                        <ol class="float-end d-flex" style="list-style: none;margin-bottom:0px">
                            <li class="nav-item">
                                <a class="button" asp-controller="Home" asp-action="Registration"><span>Apply Now</span></a>
                            </li>
                            @*<input class="form-control" type="text" placeholder="Search" aria-label="Search">*@
                            @if (!string.IsNullOrEmpty(Convert.ToString(ViewData["reference"])))
                            {
                                <li class="nav-item" style="margin-left:10px">
                                    <span class="text-white "> Reference Number : @Convert.ToString(ViewData["reference"])</span>
                                </li>
                            }
                        </ol>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container ">
        @RenderBody()
    </div>

    @*<footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2023 - Medical Rgistrations -
    </div>
    </footer>
    *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>