@model Registrations

@{
    ViewBag.title = "Dashboard";
}



<form asp-action="Registration" asp-controller="Home" method="post" enctype="multipart/form-data">
    <div class="align-content-center p-5">
        <div class="card">
            <h5 class="card-header"> @Model.Name  (@Model.Qualification.Value)</h5>
            <div class="card-body">
                <h5 class="card-title">@Model.Address</h5>
                <p class="card-text">@Model.Email</p>

            </div>
            <div class="card-footer">
                <form method="post" asp-action="makePayment" asp-controller="Home">
                    <button type="submit" class="btn btn-sm btn-outline-primary float-end">Pay</button>
                </form>
            </div>
        </div>

    </div>
</form>
